* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    border:0;
}

/* Layout Rules */

body {
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 1000px;
    margin: auto;
}

header nav {
    display:block;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 20px;
}

footer {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    margin: 60px 0 10px 0;
    text-align: center;
}
/* Heading Rules */

header h1 {
    text-align: center;
    font-family: helvetica, arial, sans-serif; 
    font-size: 60px;
    font-weight: 400;
    margin-top: 50px; /*TRouBLe */
}

body h1 {
    color: #00c90d;
    font-weight: 500;
}

body span {
    margin: 30px 0px 20px 0px;
    font-size: 20px;
    font-weight: 600;
    color: #00c90d;
}

/* Paragraph Rules */

p {
    font-family: helvetica, arial, sans-serif;
    margin: 10px;
}

mark {
    color: #696969;
    background: none;
}

/* List Rules */

ul {
    list-style-type: none;
    display:block;
}

header ul li {
    display: inline;
}

article ul {
    text-align: center;
    margin-bottom: 25px;
}

article ul li {
    display:inline;
    margin: 0 10px 0 10px;
}

/* Link Rules */

header a { 
    color: #696969;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

header a:hover {
    color: #33cccc;
}
header a:active {
    text-decoration: underline;
}

body li a { 
    color: #696969;
    text-decoration: none;
}
body li a:hover {
    color: #33cccc;
}
body li a:active {
    text-decoration: underline;
}

article li a { 
    color: #00c90d;
    text-decoration: none;
}
article li a:hover {
    color: #33cccc;
}
article li a:active {
    text-decoration: underline;
}

/* Classes and Id Rules */

#bookshelf {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#endless {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#favoritebooks {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#working {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#writingtitle {
    font: helvetica, arial, sans-serif; 
    font-size: 18px;
    font-weight: 200;
    padding: 5px 5px 10px 0;
    color: #000000;
}

.contact {
    text-align: center;
}

.resume h1 {
    font-size:24px;
    font-weight:700;
    text-align: left;
    color: #00c90d;
}

.resume h2 {
    font-size: 16px;
    font-weight: 400;
    color: #33cccc;
    margin: 10px 30px 0px 0px;
}

.resume p {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #696969;
}

.socialmedia {
    float: right;
    margin: 5px;
}

.tagline {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #33cccc;
    text-align: center;
} 

.writing-title {
    line-height: 45px;

}

.videos {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

 @media screen and (max-width: 450px) 
{

header h1 {
    display: block;
    text-height:14px;
    }
#bookshelf {
    float: none;
    margin-right: auto;
    width:100%;
    margin-left:auto;
}    

#endless {
    float: none;
    display:block;
    width:50%;
    margin-right: auto;
    margin-left:auto;
    border-radius: 20px;
}
    
#favoritebooks {
    display: block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}    

#profile {

    float:none;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

#working {
    display: block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}    
    
header nav {
    display: block;
    margin-left:auto;
    margin-right:auto;
}
    
.videos {
    float:none;
    width:100%;
}
